header{
    border: 1px solid black;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    margin-bottom: 4%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-spacing: 0px 1em;
}
tr{
    border-collapse: separate;
}
td{
    border-collapse: collapse;
    line-height: 20px;
    width: 225px;
    height: 75px;
    border: 1px solid black;
    font-size: 12px;
}

.tab_jaune{
    text-align: center;
    width: 35px;
    font-size: 10px;
    background-color: rgb(255, 255, 0);
}
.tab_vert{
    text-align: center;
    width: 35px;
    font-size: 10px;
    background-color: rgb(0, 255, 0);
}
.tab_bleu{
    text-align: center;
    width: 35px;
    font-size: 10px;
    background-color: rgb(0, 179, 255);
}
.null{
    border:none;
    width: 2%;
}